<div class="hidden-meta" data-ng-if="partialContents[0]" data-gsn-title="{{ ChainName + ' | ' + (getConfig('title').Description || partialContents[0].Headline || contentDetail.name)}}"></div>
<!-- this layout work in conjunction with frame -->
<div class="col-md-12 staticContent">
  <h1 data-ng-bind-html="partialContents[0].Headline" data-ng-if="partialContents[0].Headline"></h1>
  <div data-gsn-frame="/views/static-content/iframe-template.html" data-item="partialContents[0].Description"></div>
</div>