<div class="hidden-meta" data-gsn-title="{{ChainName}} | coupons"></div>
<div data-ctrl-coupon-classic="" class="col-md-12" data-ng-init="sortByName = 'About to Expire';">
  <div data-ng-include="getThemeUrl('/views/engine/coupons-tabs.html')"></div>
  <div>
    <div data-ng-show="!youtech.hasValidCard()">
      <p>Your loyalty card number could not be validated. Please <a href="javascript:void(0)" data-ng-click="goUrl('/profile')">update your profile</a> or visit a store to sign up for a card.</p>
    </div>
  </div>
  <h1>Digital Coupons</h1>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div style="margin-top: 6px; margin-left: -15px">
        <span>Total Savings - ${{selectedCoupons.totalSavings}}</span>
        <button class="btn btn-default" data-ng-click="selectedCoupons.cardCouponOnly = !selectedCoupons.cardCouponOnly">
          <i class="fa fa-square-o" data-ng-hide="selectedCoupons.cardCouponOnly"></i><i class="fa fa-check-square-o" data-ng-show="selectedCoupons.cardCouponOnly"></i>
          View Coupons On Card
        </button>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 text-right">
      <span>Sort by: </span>
      <div class="btn-group dropdown">
        <button style="" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{vm.sortByName}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'EndDate';vm.sortByName='About to Expire'">About to Expire</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = '-StartDate';vm.sortByName='Newest'">Newest</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = '-TopTagLine';vm.sortByName='Savings'">Savings</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'BrandName';vm.sortByName='Brand'">Brand</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'CategoryName';vm.sortByName='Department'">Department</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row col-md-12">
    <form name="digitalCouponSearch" class="input-group pull-right" style="width: 300px; padding-top: 5px; padding-right: 5px;">
      <input type="text" class="form-control" placeholder="Search for..." name="q" data-ng-model="vm.filterBy">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <br style="clear: both;"/><br />
    <div class="col-md-12" data-ng-show="selectedCoupons.items.length <= 0 && vm.filterBy">No results returned.</div>
    <div data-ng-show="selectedCoupons.items.length == 0">No items found</div>
    <div data-ng-show="selectedCoupons.targeted.length > 0 && vm.sortBy == 'EndDate'">
      Limited Time Coupons
      <br />
      <div class="col-md-4 col-sm-6 coupons" data-ng-include="getThemeUrl('/views/engine/coupons-item.html')" data-ng-repeat="item in selectedCoupons.targeted"></div>
    </div>
    <div data-infinite-scroll="loadMore()">
      <div class="col-md-4 col-sm-6 coupons" data-ng-include="getThemeUrl('/views/engine/coupons-item.html')" data-ng-repeat="item in selectedCoupons.items"></div>
    </div>
  </div>
</div>
