<div class="hidden-meta" data-gsn-title="{{ChainName}} | coupons"></div>
<div style="padding:15px !important;" data-ctrl-coupon-classic="" class="col-md-12" data-ng-init="sortByName = 'About to Expire'; disableCouponPrinter = true;">
  <div data-ng-include="getThemeUrl('/views/engine/coupons-tabs.html')"></div>

  <div class="row" data-ng-show="coupons.store.items.length > 1">
    <div class="col-md-8 col-xs-12">
      &nbsp;
    </div>
    <div class="col-md-4 col-xs-12 text-right">
      <span>Sort by: </span>
      <div style="background-color: #fff;" class="btn-group dropdown"  data-ng-class="{ 'open': vm.sortActive }">
        <button style="margin-right:0;" type="button" class="btn btn-default dropdown-toggle" data-ng-click="vm.sortActive = !vm.sortActive">{{vm.sortByName}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'EndDate';vm.sortByName='About to Expire'">About to Expire</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = '-StartDate';vm.sortByName='Newest'">Newest</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = '-TopTagLine';vm.sortByName='Savings'">Savings</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'BrandName';vm.sortByName='Brand'">Brand</a></li>
          <li><a href="javascript:void(0)" data-ng-click="vm.sortBy = 'CategoryName';vm.sortByName='Department'">Department</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" data-ng-show="coupons.store.items.length > 1">
    <form name="printableCouponSearch" class="input-group pull-right" style="width: 300px; padding-top: 5px; padding-right: 5px;">
      <input style="margin-top:15px; height:32px;" type="text" class="form-control" placeholder="Search for..." name="q" data-ng-model="vm.filterBy">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="row col-md-12">
    <br style="clear: both;"/><br />
    <h4 data-ng-show="coupons.store.items.length > 0">Store Coupons</h4>
      <div data-ng-repeat-start="item in coupons.store.items" data-ng-class="{'row': $index % 3 === 0 }"></div>
    <div class="col-md-4 col-sm-6 coupons" data-body=""
        data-ng-include="getThemeUrl('/views/engine/coupons-item-store.html')">

    </div>
    <div data-ng-repeat-end=""></div>
        <div class="row">
    <hr style="clear: both" data-ng-show="coupons.store.items.length > 0"/>
<h4>Manufacturer Coupons</h4>
<noscript>
<p>Coupons powered by <a href="https://www.coupons.com?pid=13903&nid=10&zid=xh20&bid=1436600001">Coupons.com</a></p>
</noscript>
<script id="scriptId_718x940_161141" type="text/javascript" src="//bcg.coupons.com/?scriptId=161141&bid=1436600001&format=718x940&bannerType=3&channel=cobs">
</script>
     </div>
  </div>
  <div class="hidden" style="display:none">
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-notinstalled.html')" data-show-if="printer.notinstalled" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-notsupported.html')" data-show-if="printer.notsupported" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-blocked.html')" data-show-if="printer.blocked" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-printed.html')" data-show-if="printer.printed != null"></div>
  </div>
</div>

<style>
.coupon-container {
  height: auto !important;
}
</style>
