<div class="modal-content" data-ctrl-change-password="">
  <div class="modal-header">
    <h1 data-ng-hide="hasSubmitted && isValidSubmit && !isSubmitting">Change Password</h1>
    <h4 data-ng-show="hasSubmitted && isValidSubmit && !isSubmitting">You have successfully changed your password.</h4>
  </div>
  <div class="modal-body">
    <form role="form" name="myForm" data-ng-submit="changePassword()">
      <div data-ng-hide="hasSubmitted && isValidSubmit && !isSubmitting"> 

        <!--Current Password Section-->
        <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.currentPassword.$invalid, 'has-error': myForm.currentPassword.$invalid}">
          <label for="currentPassword">
            Current Password: <span class="required" data-ng-show="myForm.currentPassword.$invalid">Required</span>
          </label>
          <input type="password" class="form-control passwordText" name="currentPassword" placeholder="Enter current password" data-ng-minlength="6" data-ng-model="profile.currentPassword" data-ng-required="true" />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.currentPassword.$invalid, 'glyphicon-remove': myForm.currentPassword.$invalid}"></span>
          <p class="help-block" data-ng-show="myForm.currentPassword.$error.minlength">* Must be at least 6 characters.</p>
        </div>

        <!--New Password Section-->
        <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.newpassword.$invalid, 'has-error': myForm.newpassword.$invalid}">
          <label for="newpassword">
            New Password: <span class="required" data-ng-show="myForm.newpassword.$invalid">Required</span>
          </label>
          <input type="password" class="form-control passwordText" name="newpassword" placeholder="Enter new password" data-ng-minlength="6" data-ng-model="profile.newPassword" data-ng-required="true" />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.newpassword.$invalid, 'glyphicon-remove': myForm.newpassword.$invalid}"></span>
          <p class="help-block" data-ng-show="myForm.newpassword.$error.minlength">* Must be at least 6 characters.</p>
        </div>

        <!--Confirm Password Section-->
        <div class="form-group has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.confirmPassword.$invalid, 'has-error': myForm.confirmPassword.$invalid}">
          <label for="confirmPassword">
            Confirm Password: <span class="required" data-ng-show="myForm.confirmPassword.$invalid">Required</span>
          </label>
          <input type="password" class="form-control passwordText" name="confirmPassword" placeholder="Confirm password" data-ng-required="true" data-ng-model="profile.confirmPassword" data-ui-validate=" '$value==profile.newPassword' " data-ui-validate-watch=" 'profile.newPassword' " />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.confirmPassword.$invalid, 'glyphicon-remove': myForm.confirmPassword.$invalid}"></span>
          <p class="help-block" data-ng-show="myForm.confirmPassword.$error.validator">* Confirm password must match.</p>
        </div>

        <div class="form-group" data-ng-show="hasSubmitted && !isValidSubmit">
          <div class="alert alert-danger">
            Password change was unsuccessful, please check and make sure that you've provided the correct current password.
          </div>
        </div>
        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
        <div>
          <button type="button" class="btn btn-default pull-right" data-ng-click="closeModal()" style="margin-right: 10px">Cancel</button>
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="submit" class="btn btn-default" data-ng-click="goUrl('/recoverpassword')">Forgot Password</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div data-ng-show="hasSubmitted && isValidSubmit && !isSubmitting">
      <button type="button" class="btn btn-default gmodal-close" data-ng-click="closeModal()" style="margin: 10px">OK</button>
    </div>
  </div>
</div>