<style>
.glyphicon.form-control-feedback {
	left: -5px;
	top: 15px !important;	
}
</style>

 <!-- custom header -->
<div id="insideHeader" class="insideHeader sm"> 
  <div class="container">
  <img style="width:100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Weekly Deals"> 
  </div>
</div>
<div class="container">
	<div class="row smheader">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .8; top: -75px;" class="Cob-section-heading_small">My Profile</h1>
		</div>
    </div>
</div>
     
<!-- end header -->
<div class="row">
  <div class="col-lg-12">
  	<p id="InnerTop">&nbsp;</p>
   
  </div>
</div>

<div style="padding: 15px !important;" class="col-md-12" data-ctrl-account="" data-ng-init="disableNavigation = true">
  <div style="max-width:800px; margin-left:auto;margin-right:auto;">
  <form role="form" name="myForm" data-ng-submit="updateProfile()" data-ng-hide="profileUpdated">
    <div class="form-group"  data-ng-class="{'has-success': !myForm.primarystoreid.$invalid, 'has-error': myForm.primarystoreid.$invalid || !profile.PrimaryStoreId}">
      <label for="primarystoreid">
        Choose a store: *
      </label>
      <br />
      <select class="form-control" name="primarystoreid" data-ng-model="profile.PrimaryStoreId" data-ng-options="store.StoreId as store.StoreName for store in stores" data-ng-required="true"></select>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.firstname.$invalid, 'has-error': myForm.firstname.$invalid}">
      <label for="firstname">
        First Name: * <span class="required" data-ng-show="myForm.firstname.$invalid">*</span>
      </label>
      <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="profile.FirstName" data-ng-required="true" />
      <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.firstname.$invalid, 'glyphicon-remove': myForm.firstname.$invalid}"></span>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.lastname.$invalid, 'has-error': myForm.lastname.$invalid}">
      <label for="lastname">
        Last Name: * <span class="required" data-ng-show="myForm.lastname.$invalid">*</span>
      </label>
      <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="profile.LastName" data-ng-required="true" />
      <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.lastname.$invalid, 'glyphicon-remove': myForm.lastname.$invalid}"></span>
    </div>
    <div class="form-group has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.email.$invalid, 'has-error': myForm.email.$invalid}">
      <label for="email">
        Email address: <span class="required" data-ng-show="myForm.email.$invalid">*</span>
      </label>
      <input type="email" class="form-control" name="email" placeholder="Enter email address" data-ng-model="profile.Email" data-gsn-valid-user="required" data-ng-required="true" />
      <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.email.$invalid, 'glyphicon-remove': myForm.email.$invalid}"></span>
      <p class="help-block emailInvalid" data-ng-show="myForm.email.$error.gsnValidUser">Email is invalid or not available.</p>
    </div>
    <div class="form-group" data-gsn-ft-config="rewardcard">
      <div data-ng-if="item.Description" data-ng-include="'http://clientapi.gsn2.com/api/v1/content/meta/' + gsnApi.getChainId() + '/?name=home page&meta=rewardcard&type=text/html'"></div>
    </div>
    <div class="form-group checkbox">
      <label><input type="checkbox" name="receiveemail" data-ng-model="profile.ReceiveEmail"/>
      Receive Weekly Email - Yes, I'd like to receive specials, recipe of the week, events, coupon savings, weekly circular, and featured articles.</label><br />
    </div>
    <div class="col-md-12">* Indicates required field<br /><br /></div>
    <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
    <div>
      <button type="button" class="btn btn-default pull-left" data-gsn-modal="getThemeUrl('/views/engine/modal-change-password.html')" data-ng-click="showModal()">Change Password</button>
      <button type="submit" class="btn btn-default pull-right">Update</button>
      <button type="button" class="btn btn-default pull-right" tabindex="-1" data-ng-click="goBack()">Cancel</button>
    </div>

  </form>

  <div data-ng-show="profileUpdated">Thank you for updating your profile.</div>
</div></div>
