    <!-- custom header -->
<div id="insideHeader" class="insideHeader"> 
  <div class="container">
  <img style="width:100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Recipe Center"> 
  </div>
</div>
<div class="container">
	<div class="row">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .9;" class="Cob-section-heading_small">Recipe Center</h1>
		</div>
    </div>
    <div class="row">
 		<div class="col-lg-12 text-center">
 		<h4 style="opacity:.9;" class="about-heading_small"></h4>
     		<div class="clear_small">
            </div>
     	</div>
	</div>
</div>
     
<!-- end header -->

<div style="margin-top: 2%;" class="col-md-12" data-ctrl-recipe="" itemscope itemtype="https://schema.org/Recipe">
 <p style="text-align:center;" id="InnerTop">&nbsp;</p>
  <div class="hidden-meta" data-gsn-title="{{ChainName}} | Recipe - {{vm.recipe.RecipeTitle}}"></div>
  <div class="hidden-meta" data-gsn-og-title="{{ChainName}} | Recipe - {{vm.recipe.RecipeTitle}}"></div>
  <div class="hidden-meta" data-gsn-og-type="recipe"></div>
  <div class="hidden-meta" data-gsn-og-image="{{vm.recipe.ImageUrl}}"></div>
<div style="margin-left: 15px;">
 
 <ul class="nav nav-tabs" style="padding-top: 5px">


<li data-ng-class="">
		<a class="btn-default" href="/recipecenter">Recipe Center</a>
  </li>


	<li data-ng-class="">
		<a class="btn-default" href="/myrecipes">My Recipes</a>
  </li>
    <li class="active">
		<a href="javascript:void(0)" class="btn-default" data-gsn-modal="getThemeUrl('/views/engine/modal-recipe-advanced-search.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeAdvanceSearch" data-analytics-category="Recipe">Search</a>
  </li>
  </ul>
 
 </div>
<div class="col-md-8" style="padding: 15px;">

  <div style="padding: 0px 15px;" class="col-md-12" data-ng-include="getThemeUrl('/views/engine/recipe-content.html')"></div>

  </div>
  <div class="col-md-4">
    <div style="padding:25px;" class="hidden-print col-md-12">
  <div class="nutrition" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation" data-ng-show="!vm.recipe.HideNutritionInfo">
    <table style="margin-left:auto;margin-right:auto;" class="nutr-table">
      <tbody>
        <tr>
          <td class="nutr-header">Nutrition Facts
            <div class="nutr-normal">
              Serving Size: {{vm.recipe.ServingQuantity}}
              <br />
              Servings: {{vm.recipe.YieldText}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="nutr-normal">Amount Per Serving</div>
            <div class="clearfix">
              Calories <span itemprop="calories">{{nutrients['Calories'].MeasureAmount}}</span>
              <span class="pull-right nutr-normal">Calories from Fat {{nutrients['Calories From Fat'].MeasureAmount}} </span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="nutr-border">
            <span class="nutr-value">% Daily Value*</span>
          </td>
        </tr>
        <tr>
          <td>Total Fat {{nutrients['Total Fat'].MeasureAmount}}{{nutrients['Total Fat'].MeasureUnit}}
            <span class="nutr-value">{{nutrients['Total Fat'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td><span class="nutr-sub-item">Saturated Fat {{nutrients['Saturated Fat'].MeasureAmount}}{{nutrients['Saturated Fat'].MeasureUnit}} </span>
            <span class="nutr-value">{{nutrients['Saturated Fat'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td>Cholesterol {{nutrients['Cholesterol'].MeasureAmount}}{{nutrients['Cholesterol'].MeasureUnit}}
            <span class="nutr-value">{{nutrients['Cholesterol'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td>Sodium <span itemprop="sodiumContent">{{nutrients['Sodium'].MeasureAmount}}</span>{{nutrients['Sodium'].MeasureUnit}}
            <span class="nutr-value">{{nutrients['Sodium'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td>Total Carbohydrates {{nutrients['Carbohydrates'].MeasureAmount}}{{nutrients['Carbohydrates'].MeasureUnit}}
            <span class="nutr-value">{{nutrients['Carbohydrates'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td><span class="nutr-sub-item">Dietary Fiber {{nutrients['Dietary Fiber'].MeasureAmount}}{{nutrients['Dietary Fiber'].MeasureUnit}}</span>
            <span class="nutr-value">{{nutrients['Dietary Fiber'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="nutr-sub-item">Sugar <span itemprop="sodiumContent">{{nutrients['Sugars, total'].MeasureAmount}}</span>{{nutrients['Sugars, total'].MeasureUnit}} </span>
            <span class="nutr-value">{{nutrients['Sugars, total'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td>Protein {{nutrients['Protein'].MeasureAmount}}{{nutrients['Protein'].MeasureUnit}}
            <span class="nutr-value">{{nutrients['Protein'].PctDailyValue}}%</span>
          </td>
        </tr>
        <tr>
          <td class="nutr-border">
            <span class="nutr-normal">* Percent Daily Values are based on 2,000 calorie diet.  Your Daily Values may be higher or lower depending on your calorie needs.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <br style="clear:both;" />
	<div style="margin-right:30px; margin-left:30px;" data-ng-include="getThemeUrl('/views/engine/shopping-list-plugin.html')"class="row"><div>
  </div>
</div>
<style>
.recipeContent
{
  margin-top: 10px;
}

.recipeCenter h2, .recipeCenter h3, .rOTD h3, .rOTD p, .rOTDTitle, .recipeArticle p
{
  text-align: center;
}

.recipeSearch, .advancedSearch, .top50Recipe
{
  background-color: #d3d3d3;
}

.course, .prepTime, .skill
{
  margin-bottom: 10px;
}

.recipeArticle
{
  background-color: #FFFFFF;
  border: 1px solid #7D6D6A;
  float: none;
  margin-top: 14px;
  min-height: 270px;
  padding: 10px;
}

.recipeArticle p
{
  color: #000000;
}

.recipeArticle img
{
  display: block;
  margin: 0 auto;
  max-height: 125px;
}

.recipeArticle h3
{
  border-top: 15px solid #767676;
  margin: -18px 0 10px;
  text-align: center;
}

.rOTD img
{
  margin: 10px 74px;
  max-height: 150px;
}

.rOTDTitle
{
  background-color: #767676;
  color: #ffffff;
  padding: 10px 0;
}

.mealPlanner h3
{
  border-bottom: 1px solid #000000;
  font-size: 18px;
}

.mealByDay a
{
  /*color: #000000;*/
}

.recipeBox
{
  margin: 10px 0;
}

.recipeMenu button
{
  background-color: #767676;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 10px;
}

.tips
{
  margin-bottom: 10px;
}

.quickSearch h3, .advanced h3, .advanced a
{
  color:white;
}

.quickSearch li a, .topFifty a
{
  color: #000000;
}

.myRecipeInfo h2, .myRecipeInfo h3, .myRecipeInfo h4, .myRecipeInfo h5
{
  color:white;
}

.advanced select, .advanced option
{
  color: #000000;
}
</style>
