<style>

.glyphicon.form-control-feedback {
	left: 0!important;
	margin-top:0px !important;	
}

</style>

<div class="hidden-meta" data-gsn-title="{{ChainName}} | registration"></div>
<!-- scrolling -->
<script>
$('a[href^="#"]').on('click', function(event) {

    var target = $( $(this).attr('href') );

    if( target.length ) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: target.offset().top
        }, 1000);
    }

});</script>
<!-- bootstrap Javascript -->
<script type="text/javascript" src="http://cdn-staging.gsngrocers.com/asset/75/js/bootstrap.min.js"></script>
<!-- end -->
<style type="text/css">
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #ABD300;	
}
</style>


<div id="insideHeader" class="insideHeader"> 
  <div class="container">
  <img style="width: 100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Sign Up Today!"> </div>
</div>
<section>
  <div class="container">
    <div class="row">
 <div class="col-lg-12 text-center">
        <h1 style="opacity: .9;" class="Cob-section-heading_small">
Sign Up Today!</h1>
</div>
    </div>
    
    <div class="row">
 <div class="col-lg-12 text-center">
 <h4 style="opacity:.9;" class="about-heading_small">Get an exclusive coupon sent to your inbox each week!<span class="DesktopDownArrow"><a href="#InnerTop" id="InnerTop"><i class="fa fa-arrow-circle-down"></i></a></span></h4>
     <div class="clear_small"></div>  

<div class="registrationWrapper">
<div data-ctrl-Registration="" class="col-md-12">
<p id="InnerTop">Get an exclusive coupon each week and many other exciting offers. Registering also allows you to save your shopping list on our Weekly Deals page and recipe's from our Recipe Center.</p>
  <h3  data-ng-hide="isLoggedIn">Fill Out the Registration Form Below</h3>
  
  <div class="FormWaist">
  <form role="form" name="myForm" data-ng-submit="registerProfile()" data-ng-hide="isLoggedIn">
    <div class="row">
      <div class="col-md-6">
       <div class="form-group" data-ng-class="{'has-success': !myForm.primarystoreid.$invalid, 'has-error': myForm.primarystoreid.$invalid || !profile.PrimaryStoreId}">
          <label for="primarystoreid">
            Choose a store: *
          </label>
          <br />
          <select class="form-control" name="primarystoreid" data-ng-model="profile.PrimaryStoreId" data-ng-options="store.StoreId as store.StoreName for store in stores" data-ng-required="true">
            <option value="" style="display: none">-- choose a store --</option>
          </select>
        </div>
        <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.firstname.$invalid, 'has-error': myForm.firstname.$invalid}">
          <label for="firstname">
            First Name: <span class="required" data-ng-show="myForm.firstname.$invalid">*</span>
          </label>
          <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="profile.FirstName" data-ng-required="true" data-gsn-auto-fill-sync />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.firstname.$invalid, 'glyphicon-remove': myForm.firstname.$invalid}"></span>
        </div>
        <div class="form-group has-feedback" data-ng-class="{'has-success': !myForm.lastname.$invalid, 'has-error': myForm.lastname.$invalid}">
          <label for="lastname">
            Last Name: <span class="required" data-ng-show="myForm.lastname.$invalid">*</span>
          </label>
          <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="profile.LastName" data-ng-required="true" data-gsn-auto-fill-sync />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.lastname.$invalid, 'glyphicon-remove': myForm.lastname.$invalid}"></span>
        </div>
        <div class="form-group has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.email.$invalid, 'has-error': myForm.email.$invalid}">
          <label for="email">
            Email address: <span class="required" data-ng-show="myForm.email.$invalid">*</span>
          </label>
          <input type="email" class="form-control" name="email" placeholder="Enter email address" data-ng-model="profile.Email" data-gsn-valid-user="required" data-ng-required="true" data-gsn-auto-fill-sync />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.email.$invalid, 'glyphicon-remove': myForm.email.$invalid}"></span>
          <p class="help-block emailInvalid" data-ng-show="myForm.email.$error.gsnValidUser">Email is invalid or not available.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group password has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.password.$invalid, 'has-error': myForm.password.$invalid}">
          <label for="password">
            Password: <span class="required" data-ng-show="myForm.password.$invalid">*</span>
          </label>
          <input type="password" class="form-control passwordText" name="password" placeholder="Enter password" data-ng-minlength="6" data-ng-model="profile.Password" data-ng-required="true" data-gsn-auto-fill-sync />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.password.$invalid, 'glyphicon-remove': myForm.password.$invalid}"></span>
          <p data-ng-show="myForm.password.$error.minlength">* Must be at least 6 characters.</p>
        </div>
        <div class="form-group confirm has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.confirmPassword.$invalid, 'has-error': myForm.confirmPassword.$invalid}">
          <label for="confirmPassword">
            Confirm Password: <span class="required" data-ng-show="myForm.confirmPassword.$invalid">*</span>
          </label>
          <input type="password" class="form-control passwordText" name="confirmPassword" placeholder="Confirm password" data-ng-required="true" data-ng-model="profile.confirmPassword" data-ui-validate=" '$value==profile.Password' " data-ui-validate-watch=" 'profile.Password' " data-gsn-auto-fill-sync />
          <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.confirmPassword.$invalid, 'glyphicon-remove': myForm.confirmPassword.$invalid}"></span>
          <p data-ng-show="myForm.confirmPassword.$error.validator">* Confirm password must match.</p>
        </div>
        <div class="form-group" data-gsn-ft-config="rewardcard">
          <div data-ng-if="item.Description" data-ng-include="'http://clientapi.gsn2.com/api/v1/content/meta/' + gsnApi.getChainId() + '/?name=home page&meta=rewardcard&type=text/html'"></div>
        </div>
      </div>
    </div>
    <div align="right" class="confirmationbox">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group checkbox">  
          <label><input type="checkbox" name="receiveemail" data-ng-model="profile.ReceiveEmail"/>
          <strong>Yes</strong>, I'd like to receive Exclusive Email Offers.<br /><i>&lowast;You must check the box to receive emails from us.</i></label><br />
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
          <button type="button" class="btn btn-default" tabindex="-1" data-ng-click="goBack()">Cancel</button>
          <button style="margin-right: 0px;" type="submit" class="btn btn-default">Continue</button>
        </div></div>
    </div></div>
    <div class="row col-md-12">* Indicates required field</div>
  </form>
  <div data-ng-show="isLoggedIn" >
    <h3>Thank you for signing up!</h3>
    <div class="form-group">
      <button class="btn btn-default" data-ng-click="goUrl('/')">Go to Home Page</button>
      <button class="btn btn-default" data-ng-click="goUrl('/profile')">Go to Profile Page</button>
    
    </div>
    </div>
  </div>
</div> 
</div>
