<style>
@media print {
	.col-md-6.col-sm-6.itemInfo.printCouponCategory {
		width: 49%!important;
	}
	.fontprint {
		font-size: 10px !important;	
	}
	.panel-heading {
		padding: 0px 0px 5px 0px !important;
		border-bottom: 1px solid #000 !important;
		margin-top: 20px !important;
	}
	.donotprint {
		display:none;	
	}
	.panel-title {
		font-size: 12px !important;	
	}
	.panel {
		margin-bottom: 10px !important;
	}
}
</style>
<div class="col-md-12" style="padding:15px !important; font-size: .9em;">
    <h1 style="margin-top: 80px;">My Shopping List</h1>
    <p data-gsn-store-info="[store.StoreName] [store.PrimaryAddress], [store.City] location only"></p>
  </div>
  <button class="btn btn-default pull-right donotprint" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList" style="float:right; bottom: 0; margin-right: 15px" data-analytics-label="isLoggedIn">Print</button>
</div><div style="clear:both;">
<div class="col-md-12" data-gsn-shopping-list="">
  <div data-ng-init="canPrint = true">
    <div data-ng-repeat="groupItem in allItems" data-ng-hide="groupItem.fitems.length <= 0">
      <div style="padding-left: 15px !important; padding-right:15px !important;" class="col-md-6 col-sm-6 itemInfo printCouponCategory">
      <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title pull-right">Qty.</h4>
        <h4 class="panel-title">{{groupItem.key}}</h4>
        </div>
        </div>
        <div style="border-bottom: 1px dotted #ccc; margin-bottom: 10px;" class="circular-item" data-ng-repeat="item in groupItem.fitems">
          <div class="pull-right fontprint">{{item.Quantity}}</div>
          <div><i class="fa fa-square-o" aria-hidden="true"></i>
<img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.IsCoupon"><span class="fontprint" data-ng-bind-html="item.Description"></span>, <span class="fontprint">{{item.PriceString}}</span></div>
		  <div data-ng-show="item.Comment">(<span data-ng-bind-html="item.Comment"></span>)</div>
          <div data-ng-show="item.ItemTypeId == 13">Card Coupon</div>
        </div>
      </div>
    </div>        
  </div>
  <div class="row" data-ng-hide="manufacturerCoupons.length === 0">    	
    <div style="padding: 15px !important; clear: both;" class="col-md-10 printCouponCategory">
      <h4>Manufacturer Coupon Print Status (must submit all coupons to redeem savings)</h4>
    </div>
    <div class="circular-item" data-ng-repeat="item in manufacturerCoupons">
      <div data-ng-if="item.IsCoupon">
        <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}">
        <span data-ng-bind-html="item.Description"></span> - 
        <span class="coupon-message coupon-message-{{item.ProductCode}}" data-ng-bindonce=""></span>
      </div>
    </div>
  </div>
  <div class="row" data-ng-hide="instoreCoupons.length == 0">
    <div class="col-md-10 printCouponCategory">
      <h4>In store Coupons</h4>
    </div>
  </div>
  <div class="row" data-ng-init="print(2000)">
    <!-- circular coupons -->
    <div data-ng-repeat="item in circularCoupons">
      <div class="col-md-6 col-xs-12 couponContainerDiv">
        <table border="0" cellspacing="0" cellpadding="4"> 
          <tr height="30">
            <td width="150" align="center" rowspan="3">
              <img class="productImage" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}"/>
              <br />
              <img class="barcodeImage" data-ng-src="{{item.CouponImageUrl}}"/>
            </td>
            <td align="center">
              <div class="couponTitle1">{{ChainName | uppercase}} STORE COUPON</div>
              <div class="couponTitle2">EXPIRES {{item.EndDate | date: 'M / dd / yyyy'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div data-ng-show="item.ProductCode"><strong>PLU:</strong>{{item.ProductCode}}</div>
              <div class="couponDescription1">{{item.Description}}</div>
              <div class="couponDescription2">{{item.PriceString}}</div>
              <div class="couponDescription3">{{item.Description2}}</div>
              <div class="couponDescription4">Limit ONE - One coupon may be used per customer. Good at {{gvm.currentStore.StoreName}}.</div>
            </td>
          </tr>
          <tr data-gsn-ft-config="couponlogo">
            <td colspan="2" data-ng-if="item.Description">
              <br />
              <img class="chainLogoImage" align="right" data-ng-src="{{item.Description}}" border="0">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="instoreCoupons.length > 0">
    <div data-ng-repeat="item in instoreCoupons">
      <div class="col-md-6 col-xs-12 couponContainerDiv">
        <table width="100%" border="0" cellspacing="0" cellpadding="4"> 
          <tr height="30">
            <td width="150" align="center" rowspan="3">
              <img class="productImage" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}"/>
              <br />
              <img class="barcodeImage" data-ng-src="{{item.BarcodeImageUrl}}"/>
            </td>
            <td align="center">
              <div class="couponTitle1">{{ChainName | uppercase}} STORE COUPON</div>
              <div class="couponTitle2">EXPIRES {{item.EndDate | date: 'M / dd / yyyy'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div data-ng-show="item.ProductCode"><strong>PLU:</strong>{{item.ProductCode}}</div>
              <div class="couponDescription1">{{item.Description1}}</div>
              <div class="couponDescription2">{{item.Description2}}</div>
              <div class="couponDescription2">{{item.TopTagLine}}</div>
              <div class="couponDescription3">
                {{item.Description3}}
                <br />
                {{item.Description4}}
              </div>
              <div class="couponDescription4">{{item.BottomTagLine.replace('##storename##', gvm.currentStore.StoreName)}}</div>
            </td>
          </tr>
          <tr data-gsn-ft-config="couponlogo">
            <td colspan="2" data-ng-if="item.Description">
              <br />
              <img class="chainLogoImage" align="right" data-ng-src="{{item.Description}}" border="0">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="hidden" style="display:none">
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-notinstalled.html')" data-show-if="printer.notinstalled" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-notsupported.html')" data-show-if="printer.notsupported" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-blocked.html')" data-show-if="printer.blocked" data-event-to-close="gsnevent:gcprinter-ready"></div>
    <div data-gsn-modal="getContentUrl('/../common/views/modal-gcprinter-printed.html')" data-show-if="printer.printed != null"></div>
  </div>
</div>
<div style="padding: 15px !important;" class="col-md-12" data-ng-if="!gsnApi.browser.isMobile">
  <br /><br /><br /><p>Trouble printing manufacturer coupons? Download and install the Coupon Printing Plugin:<br />
    <a href="http://cdn.coupons.com/ftp.coupons.com/Partners/CouponPrinter.exe">Windows Coupon Printing Plugin</a>
    <span>| </span>
    <a href="http://cdn.coupons.com/ftp.coupons.com/safari/MacCouponPrinter.dmg">Mac Coupon Printing Plugin</a>
  </p>
</div>
<style>
.couponTitle1 {
  background-color:black; 
  width:auto; 
  border:1px solid black; 
  float:left; 
  color:white; 
  padding:4px 10px; 
  text-align:center; 
  text-transform:uppercase
}
.couponTitle2 {
  background-color:white; 
  width:180px; 
  border:1px solid black; 
  float:left; 
  color:black; 
  padding:4px 10px; 
  text-align:center;
  clear: both;
}
.couponContainerDiv {
    border: 1px dashed #999999;
    clear: both;
    height: auto;
    margin: 0 0 5px 5px;
    max-height: 250px;
    padding: 3px;
    width: 640px;
	page-break-inside:avoid;
}
.couponDescription1 {
  clear:both; font-size:18px; font-weight:bold;
}
.couponDescription2 {
  clear:both; font-size:16px; font-weight:bold;
}
.couponDescription3 {
  clear:both; font-size:9px; margin-top:10px;
}
.couponDescription4 {
  clear:both; font-size:8px
}
.chainLogoImage {
    height: auto;
    max-height: 30px;
    width: auto;
}
.barcodeImage {
    height: auto;
    margin: 6px 0 0;
    max-height: 80px;
    width: auto;
}
.productImage {
    height: auto;
    margin: 6px 0 0;
    max-height: 100px;
    max-width: 150px;
    width: auto;
}
</style>