<style>
.col-md-4 {
	padding: 0 !important;	
}
</style>
  <!-- custom header -->
<div id="insideHeader" class="insideHeader sm"> 
  <div class="container">
  <img style="width:100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Weekly Deals"> 
  </div>
</div>
<div class="container">
	<div class="row smheader">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .8; top: -75px" class="Cob-section-heading_small">Weekly Deals</h1>
		</div>
    </div>
</div>
     
<!-- end header -->
<div class="row">
  <div class="col-lg-12">
  	<p id="InnerTop">&nbsp;</p>
   
  </div>
</div>


<div class="hidden-meta" data-gsn-title="{{ChainName}} | my shopping list"></div>
<div style="padding:15px !important;" data-ctrl-shopping-list="" data-gsn-shopping-list="" class="col-md-12">

 <div>
 
 <ul class="nav nav-tabs" style="padding-top: 5px">


<li class="">
		<a class="btn-default" href="/circular">Weekly Ads</a>
  </li>


	<li data-ng-class="">
		<a class="btn-default" href="/coupons">Coupons</a>
  </li>
    <li class="active">
		<a class="btn-default" href="/mylist">My List</a>
  </li>
  </ul>
 
 </div>

  <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="!mylist.hasLoaded()"></div>
  <div style="max-width:1000px; margin-left:auto;margin-right:auto;">
  <h1 style="font-size: 2em;">My Shopping List</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group addItemManage">
        <input style="margin-top:15px; height:32px;" type="text" class="form-control" data-ng-model="addString" placeholder="add your own item" ui-keypress="{13:'doAddOwnItem()'}">
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="doAddOwnItem()" type="button"><i class="fa fa-plus"></i></button>
        </span>
      </div>
    </div>
    <div class="col-md-8">
      <div class="btn-group" data-ng-show="mylist.hasLoaded()">
        <button type="button" class="btn btn-default btn-sm" data-ng-click="goUrl('/mylist/print')"><i class="fa fa-print"></i><br />Print</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click="goUrl('/mylist/email')"><i class="fa fa-envelope"></i><br />Email</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click="goUrl('/savedlists')"><i class="fa fa-folder-open"></i><br />Previous</a></button>
        <button type="button" class="btn btn-default btn-sm" data-gsn-modal="getThemeUrl('/views/engine/modal-shopping-list-title.html')" data-ng-click="doIfLoggedIn(showModal)"><i class="fa fa-file"></i><br />Save</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click="deleteCurrentList()"><i class="fa fa-minus-circle"></i><br />Delete</button>
        <button type="button" class="btn btn-default btn-sm" data-ng-click="startNewList()"><i class="fa fa-plus-circle"></i><br />New</button>
      </div>
    </div>
  </div>
  <div data-ng-repeat="groupItem in allItems" data-ng-if="groupItem.fitems.length > 0">
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <h4>{{groupItem.key}}</h4>
      </div>
      <div class="col-md-4 col-xs-4">
        <h4>Quantity</h4>
      </div>
    </div>
    <div class="row thumbnail" data-ng-repeat="item in groupItem.fitems">
      <div class="col-md-8 col-xs-8">
        <div class="pull-left" style="padding-right: 5px;">
          <img style="width: 60px" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
        </div>
        <span data-ng-if="item.IsCoupon">
          <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.ItemTypeId == 13"/>
          <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.ItemTypeId == 2"/>
          {{item.PriceString}}
        </span>
        <div style="font-weight: bold;" data-ng-bind-html="item.Description"></div>
        <div data-ng-hide="item.IsCoupon" class="price">{{item.PriceString}}</div>
        <div data-ng-show="item.ItemTypeId == 13">Redeemable one time only.</div>
        <input style="height: 20px;" placeholder="Comment" data-ng-hide="item.IsCoupon" data-ng-model="item.Comment" ui-keypress="{13:'doUpdateQuantity(item)'}" />
      </div>
      <div class="col-md-4 col-xs-4">

        <button style="float:right; margin-right: 0px; margin-top:0px; border-radius: 10px; padding: 1px 6px;" class="btn btn-default btn-xs" data-ng-click="doItemRemove(item)"><i class="fa fa-times"></i></button>
        <div style="float:left;">
        <input class="quantity" style="width: 35px; border: 1px solid gray;background-color:#fff; color:#000;text-align:center;border-radius:5px; font-size:.8em;" data-ng-show="!item.IsCoupon" name="quantity" data-ng-model="item.NewQuantity" />
        <button style="margin-right: 0px; margin-left: 0px;" class="btn btn-default btn-xs" data-ng-click="doUpdateQuantity(item)" data-ng-hide="item.IsCoupon">Update</button>
        </div>
      </div>
    </div>
  </div>
</div></div>
