<div class="col-md-4 col-sm-12 footer-left" data-gsn-ft-content="" data-content-position="12">
  {{gvm.currentStore.StoreName}} (<a href="javascript:void(0)" data-ng-click="goUrl('/storelocator')">Locate your Store</a>)
  <div data-ng-if="gvm.currentStore.StoreId">
    {{gvm.currentStore.PrimaryAddress}} <br />
    {{gvm.currentStore.City}}, {{gvm.currentStore.StateName}} {{gvm.currentStore.PostalCode}} <br />
    {{gvm.currentStore.Phone}} <br />
    {{gvm.currentStore.OpenHoursDisplay}}
  </div>
</div>
<div class="col-md-4 col-sm-12 footer-center" data-gsn-ft-content="" data-content-position="13">
  <div class="col-md-12" data-ng-class="{'underlined': currentPath == '/privacy'}"><a href="javascript:void(0)" data-ng-click="goUrl('/privacy')">Privacy Policy</a></div>
  <div class="col-md-12" data-ng-class="{'underlined': currentPath == '/contactus'}"><a href="javascript:void(0)" data-ng-click="goUrl('/contactus')">Contact Us</a></div>
  <div class="col-md-12" data-ng-class="{'underlined': currentPath == '/employment'}"><a href="javascript:void(0)" data-ng-click="goUrl('/employment')">Employment</a></div>
</div>
<div class="col-md-4 col-sm-12 footer-right" data-gsn-ft-content="" data-content-position="14">
  <div data-ng-if="!item.Description">
    <style>
    @media (min-width: 780px) {
      .footer-left, .footer-center {
        width: 50%;
      }
      .footer-right {
        width: 0;
      }
    }
    </style>
  </div>
</div>

<!-- bottom bar that you canot remove -->
<div class="col-md-12 col-sm-12" style="margin-top: 15px;">
  <span>&copy; {{ currentYear }} Brick, Inc.</span> | <a href="http://patft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=7734514.PN.&amp;OS=PN/7734514&amp;RS=PN/7734514" target="_blank">
  Patent No US 7,734,514 B2.</a>
</div>