    <!-- custom header -->
<div id="insideHeader" class="insideHeader"> 
  <div class="container">
  <img style="width: 100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Recipe Center"> 
  </div>
</div>
<div class="container">
	<div class="row">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .9;" class="Cob-section-heading_small">Recipe Center</h1>
		</div>
    </div>
    <div class="row">
 		<div class="col-lg-12 text-center">
 		<h4 style="opacity:.9;" class="about-heading_small"></h4>
     		<div class="clear_small">
            </div>
     	</div>
	</div>
</div>
     
<!-- end header -->

<div data-ctrl-article="" itemscope itemtype="http://schema.org/Article">
  <div class="hidden-meta" data-gsn-title="{{ChainName}} | Article - {{artitle.Title}}"></div>
  <div class="hidden-meta" data-gsn-og-title="{{ChainName}} | Article - {{artitle.Title}}"></div>
  <div class="hidden-meta" data-gsn-og-description="{{article.Teaser}}"></div>
  <div class="hidden-meta" data-gsn-og-type="article"></div>
  <div class="hidden-meta" data-gsn-og-image="{{article.ImageUrl}}"></div>
  
  <div style="width: 100%; padding: 15px; margin-top: 2%;">
   <p style="text-align:center;" id="InnerTop">&nbsp;</p>
   
   <div>
 
 <ul class="nav nav-tabs" style="padding-top: 5px">


<li class="active">
		<a class="btn-default" href="/recipecenter">Recipe Center</a>
  </li>


	<li data-ng-class="">
		<a class="btn-default" href="/myrecipes">My Recipes</a>
  </li>
    <li data-ng-class="">
		<a href="javascript:void(0)" class="btn-default" data-gsn-modal="getThemeUrl('/views/engine/modal-recipe-advanced-search.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeAdvanceSearch" data-analytics-category="Recipe">Search</a>
  </li>
  </ul>
 
 </div>
   
    <h1 itemprop="name">{{article.Title}}</h1>
    <h4 itemprop="about">{{article.Teaser}}</h2>
    <h4 itemprop="alternateName">{{article.SubTitle}}</h4>
    <div class="hidden"><i>Author: </i><span itemprop="author">{{article.Author}}</span></div>
    <div class="hidden"><i>Created: </i><span itemprop="dateCreated">{{article.CreateDate | date: 'yyyy-MM-dd'}}</span></div>
    <div class="hidden"><i>keywords: </i>
      <span itemprop="keywords">
      {{(['', 'Ask the Chef', 'Featured Articles', 'Cooking Tips'])[article.ArticleTypeId || 0]}}, cooking, grocery, web, online, recipe
      </span>
    </div>
    <br />
    <div class="thumbnail">
      <img data-ng-src="{{article.ImageUrl}}" class="pull-right" itemprop="image" />
      <div data-ng-bind-html="article.Body | removeAspx | trustedHtml" itemprop="description"></div>	
    </div>
  </div>
</div>
