<div class="row coupon-container" itemscope itemtype="http://schema.org/Product">
  <div class="hidden meta">
    <div class="product-code">{{item.ProductCode}}</div>
    <div class="product-id">{{item.Id}}</div>
    <div class="product-brand">{{item.BrandName}}</div>
  </div>
  <div class="col-md-12">
    <div class="image-container">
      <img itemprop="image" data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" alt="{{item.Description1}}" />
    </div>
    <div class="product-description" itemprop="description">
      <h4 data-ng-bind-html="item.Description1" itemprop="name"></h4>
      <p title="{{item.Description2}}" data-ng-bind-html="item.Description2 | truncate:false:60:' ...'"></p>
      <p title="{{item.Description3}}" data-ng-bind-html="item.Description3 | truncate:false:60:' ...'"></p>
      <h5>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</h5>
    </div>
  </div>
  <div class="col-md-12 text-center" data-ng-if="couponType === 'digital'">
    <button class="btn btn-default btn-xs" data-ng-click="addCouponToCard($event, item)" data-ng-show="youtech.isAvailable(item.ProductCode) && isLoggedIn">Add</button>
    <button class="btn btn-default btn-xs" data-ng-click="doToggleCartItem($event, item)" data-ng-show="youtech.isOnCard(item.ProductCode) && !isOnList(item)">Add to List</button>
    <button class="btn btn-default btn-xs" data-ng-click="doToggleCartItem($event, item)" data-ng-show="isOnList(item)">Remove from List</button>
    <button class="btn btn-default btn-xs" data-gsn-modal="getThemeUrl('/views/engine/modal-login.html')" data-ng-hide="isLoggedIn" data-ng-click="showModal()">Sign In to Add</button>
  </div>
  <div class="col-md-12 text-center" data-ng-if="couponType !== 'digital'">
    <button class="btn btn-default btn-xs" data-ng-click="doToggleCartItem($event, item)">{{ isOnList(item) && "Remove" || "Add To List"}}</button>
  </div>
</div>