<div class="modal-content" data-ctrl-recovery="">
  <form role="form" name="myRecoveryForm" data-ng-submit="recoverPassword()" data-ng-hide="hasSubmitted && !isSubmitting && isValidSubmit" data-ng-init="captcha = {}">
    <div class="modal-header">
      <h1>Recover Password</h1>
    </div>
    <div class="modal-body">
      <div class="form-group has-feedback" data-ng-class="{'has-success': !myRecoveryForm.usernameField.$invalid, 'has-error': myRecoveryForm.usernameField.$invalid}">
        <input type="email" class="form-control" name="usernameField" placeholder="Enter email address" data-ng-model="profile.Email" data-ng-required="true" />
        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myRecoveryForm.usernameField.$invalid, 'glyphicon-remove': myRecoveryForm.usernameField.$invalid}"></span>
        <p class="help-block" data-ng-show="myRecoveryForm.usernameField.$invalid">* The email address is invalid.</p>
      </div>
      <div class="form-group has-feedback" data-ng-class="{'has-success': !myRecoveryForm.usernameConfirmField.$invalid, 'has-error': myRecoveryForm.usernameConfirmField.$invalid}">
        <input type="email" class="form-control" name="usernameConfirmField" placeholder="Confirm email address" data-ng-required="true" data-ng-model="profile.ConfirmEmail" data-ui-validate=" '$value == profile.Email' " data-ui-validate-watch=" 'profile.Email' " />
        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myRecoveryForm.usernameConfirmField.$invalid, 'glyphicon-remove': myRecoveryForm.usernameConfirmField.$invalid}"></span>
        <p class="help-block" data-ng-show="myRecoveryForm.usernameConfirmField.$error.validator">* The confirm email address must match.</p>
      </div>
      <div class="form-group" data-ng-show="hasSubmitted && !isSubmitting && !isValidSubmit">
        <div class="alert alert-danger">The server was unable validate or locate user associated with your entry, please try again.</div>
      </div>
     
    </div>
    <div class="modal-footer">
       <div class="pull-right">
        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
        <button type="button" class="btn btn-default gmodal-close" data-ng-click="closeModal()" tabindex="-1">Cancel</button>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div data-ng-show="hasSubmitted && !isSubmitting && isValidSubmit" class="pull-right">
        <h4>Recover password successful.</h4>
        <button type="button" class="btn btn-default" data-ng-click="closeModal()" tabindex="-1">Cancel</button>
      </div>
    </div>
  </form>
</div>