<div class="modal-content">
  <div class="modal-header"><h1>Reading circulars</h1></div>
  <div class="modal-body" style="max-height: 50vh; overflow-y: scroll; overflow-x: auto;">
<h3>
<a class="btn btn-default pull-left" href="javascript:void(0)">
  <i class="fa fa-picture-o"></i>
  <br />ads
</a> Flyer view</h3>
<p>
On this view, mouse over or tap an item to display interactive buttons.  Click the pagination buttons to change page.  With a touch-enabled device, swipe left/right on image to switch between pages.
</p>
<p>
Non-interactive flyer will denote as: <strong>* image only/non-interactive flyer</strong>
</p>

<h3>
<a class="btn btn-default pull-left" href="javascript:void(0)">
  <i class="fa fa-list"></i>
  <br />list
</a> List view</h3>
<p>On this view, use the search textbox to quickly filter for sale specials.  Click or tap on the item text description to see more information.  Sort and filter by Department, Brand, and more...</p>

<h3>
<a class="btn btn-default pull-left" href="javascript:void(0)">
  <i class="fa fa-font"></i>
  <br />text
</a> Text-only view</h3>
<p>This friendly view allow for faster loading of sale items.  It has all feature of list view but with no image.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default gmodal-close" data-ng-click="closeModal()">Close</button>
  </div>
</div>
