<div class="hidden" data-gsn-title="{{ChainName}} | browse the aisle"></div>
<div data-ctrl-product-by-category="" class="col-md-12 text-center" data-ng-init="vm.pageIdx = 1">
  <h1 class="text-center">Product Search</h1>
  <h3 class="text-center">Browse items on sale by department.</h3>
  <div class="row">
    <label>Department</label>
    <span class="glyphicon glyphicon-chevron-down arrow"></span>

    <select class="form-control" data-ng-model="vm.levelOneCategory" data-ng-options="p.CategoryName for p in vm.parentCategories">
      <option value="">-- Select One --</option>
    </select>

    <label>Aisle</label>
    <span class="glyphicon glyphicon-chevron-down arrow"></span>

    <select class="form-control" data-ng-model="vm.levelTwoCategory" data-ng-options="c.CategoryName for c in getChildCategories(vm.levelOneCategory) | filter:{ParentCategoryId: vm.levelOneCategory.CategoryId}"></select>

    <label>Category</label>
    <span class="glyphicon glyphicon-chevron-down arrow"></span>

    <select class="form-control" data-ng-model="vm.levelThreeCategory" data-ng-options="g.CategoryName for g in getChildCategories(vm.levelTwoCategory)  | filter:{ParentCategoryId: vm.levelTwoCategory.CategoryId}" data-ng-chanage="vm.pageIdx = 1"></select>

    <div style="text-align: center; width: 100%" data-ng-show="vm.showLoading">
      Loading, please wait...
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading graphic...</span>
          </div>
        </div>
    </div>   
    <div style="width: 100%;" class="text-center">
        <ul class="pagination" data-ng-show="vm.filteredProducts.fitems.length > itemsPerPage">
          <li>
            <a href="javascript:void(0)" aria-label="Previous" data-ng-click="vm.pageIdx = (vm.pageIdx <= 1) ? vm.pageIdx = ((vm.filteredProducts.fitems.length/itemsPerPage) | number:0): vm.pageIdx - 1">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li data-ng-repeat="item in [] | range:0:(vm.filteredProducts.fitems.length/itemsPerPage + 1)" data-ng-class="{'active': item == (vm.pageIdx - 1)}">
             <a href="javascript:void(0)" aria-label="Previous" data-ng-click="vm.pageIdx = item + 1">{{item + 1}}</a>
          </li>
          <li>
            <a href="javascript:void(0)" aria-label="Next" data-ng-click="vm.pageIdx = (vm.pageIdx >= vm.filteredProducts.fitems.length/itemsPerPage) ? 1 : vm.pageIdx + 1">
  <span aria-hidden="true">&raquo;</span>
</a></li>
        </ul>
    </div>
    <h6>These products are authorized for sale at your store. It is possible that items on this list are currently out of season or out of stock.</h6>
    <div class="row column-headers">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-7">Item</div>
      <div class="col-md-3"></div>
    </div>

    <div class="row result" data-ng-repeat="item in vm.filteredProducts.items | pagingFilter:itemsPerPage:(vm.pageIdx-1)" data-ng-include="getThemeUrl('/views/engine/product-item.html')"></div>

    <div class="productImagePopOver hidden" data-ng-non-bindable="">
      <img data-ng-src="{{item.ImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
    </div>
  </div>
  <div class="gsn-popover">
    <div class="popover-title"></div>
    <div class="popover-content"></div>
  </div>
</div>