<h1 itemprop="name">{{vm.recipe.RecipeTitle}}</h3>
<div class="col-md-12">
  <div class="col-md-6 col-sm-6">
    <div><strong>Prep Time: </strong><span itemprop="prepTime" content="PT{{vm.recipe.PrepTime}}M">{{vm.recipe.PrepTime}} minutes</span></div>
    <div><strong>Cook Time: </strong><span itemprop="cookTime" content="PT{{vm.recipe.CookTime}}M">{{vm.recipe.CookTime}} minutes</span></div>
    <div><strong>Total Time: </strong><span itemprop="totalTime" content="PT{{vm.recipe.TotalTime}}M">{{vm.recipe.TotalTime}} minutes</span></div>
    <div><strong>Serving Size: </strong><span itemprop="recipeYield">{{vm.recipe.ServingQuantity}}</span></div>
    <h4>Ingredients</h4>
    <ul class="ingredients">
      <li data-ng-repeat="item in vm.recipe.Ingredients" style="cursor: pointer">
        <label>
          <input type="checkbox" data-ng-model="item.selected"> <span itemprop="ingredients">{{item.StandardText}}</span>
        </label>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-6 text-center">
    <div>
      <img itemprop="image" data-ng-src="{{vm.recipe.ImageUrl}}" data-ng-if="vm.recipe.ImageUrl" style="max-width: 100%">
      <i class="fa fa-cutlery fa-5x" data-ng-if="!vm.recipe.ImageUrl"></i>
    </div>
    <div data-ng-hide="currentPath.indexOf('print') > 0">
      <div class="ingredientOptions hidden-print">
        <button class="btn btn-default btn-xs" data-ng-click="addSelectedIngredients()">Add checked to List</button>
        <button class="btn btn-default btn-xs" data-ng-click="selectAllIngredients();addSelectedIngredients()">Add all ingredients to List</button>
      </div>
      <div class="recipeOptions hidden-print">
        <button class="btn btn-default btn-xs" data-gsn-modal="getThemeUrl('/views/engine/modal-recipe-comment.html')" data-item="vm.savedRecipe" data-ng-click="doIfLoggedIn(showModal)">Save to My Recipe Box</button>
        <button class="btn btn-default btn-xs" href="javascript:void(0)" onclick="javascript:window.print();">Print</button>
      </div>
    </div>
    <div data-ng-if="vm.recipe.RecipeTitle">
<!-- hiding social share
      <div class="pull-left">
        <a data-gsn-twitter-share="{ text: vm.recipe.RecipeTitle + ' at ' + ChainName, count: 'horizontal' }" data-url="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}"></a>
      </div>
      <div class="pull-left">
        <div data-fb-like="" class="fb-like fb_iframe_widget" data-href="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-fb-xfbml-state="rendered"></div>
      </div> 
       End social share -->
    </div>
  </div>
</div>
<div itemprop="recipeInstructions">
  <h4>Preparation</h4>
  <ul>
    <li data-ng-repeat="item in vm.recipe.Instructions">{{item.RecipeInstructionDescription}}</li>
  </ul>
  <br />
</div>
<div class="form-group">
  <button class="btn btn-default hidden-print" data-ng-click="goBack()"><i class="fa fa-arrow-left"></i>
&nbsp;Back</button>
</div>
<style>

/*----- Recipe Detail -----*/

.recipe-detail .recipe-figure 
{
  padding: 0;
}

.recipe-figure .recipe-image-container 
{
  margin: 0;
  padding: 0;
}

.recipe-detail .recipe-figure h3 
{
  color: #fff;
  margin: 10px 5px;
}

.recipe-detail .buttons 
{
  margin: 5px 0;
}

.ingredientOptions 
{
  margin: 5px 20px;
}

.recipeOptions 
{
  margin: 0 48px;
}

.recipeRating 
{
  margin: 5px 0;
  text-align: center;
}

.ingredients li, .preparation li
{
  color: #000000;
}

.ingredients li input 
{
  margin: 0 3px;
}

/*---------- Nutrition ----------*/
.nutrition
{
  margin-bottom: 10px;
}

.nutr-table 
{
  border: 1px solid black;
  max-width: 310px;
}

.nutr-table th, .nutr-table td 
{
  color: #000000;
  font-size: 8pt;
  font-weight: bold;
  font-family: Franklin Gothic Medium;
  border-top: 1px solid black;
  padding: 2px;
}

td.nutr-header 
{
  font-size: 14pt;
  border-bottom: 6px solid black;
}

td.nutr-border 
{
  border-top: 4px solid black;
}

.nutr-sub-item 
{
  padding-left: 20px;
  font-weight: normal;
}

.nutr-normal 
{
  font-size: 8pt;
  font-weight: normal;
}

.nutr-value 
{
  font-weight: bold;
  float: right;
  position: relative;
}

.ingredient 
{
  width: 100%;
  padding-top: 2pt;
  padding-bottom: 2pt;
}
</style>