 <!-- custom header -->
<div id="insideHeader" class="insideHeader sm"> 
  <div class="container">
  <img style="width:100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Weekly Deals"> 
  </div>
</div>
<div class="container">
	<div class="row smheader">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .8; top: -75px" class="Cob-section-heading_small">Weekly Deals</h1>
		</div>
    </div>
</div>
     
<!-- end header -->
<div class="row">
  <div class="col-lg-12">
  	<p id="InnerTop">&nbsp;</p>
   
  </div>
</div>

<div data-ctrl-email="" class="col-md-12" style="padding:15px !important;">
  <div data-gsn-text-capture="vm.Message" data-ng-include="getThemeUrl('/views/email/shopping-list.html')" class="hidden"></div>
  
  <div>
 
 <ul class="nav nav-tabs" style="padding-top: 5px">


<li class="">
		<a class="btn-default" href="/circular">Weekly Ads</a>
  </li>


	<li data-ng-class="">
		<a class="btn-default" href="/coupons">Coupons</a>
  </li>
    <li class="active">
		<a class="btn-default" href="/mylist">My List</a>
  </li>
  </ul>
 
 </div>
  <div style="max-width:900px; margin-left:auto;margin-right:auto;"><h1>Email My Shopping List</h1>
  <form role="form" name="myForm" data-ng-submit="emailShoppingList()" data-ng-hide="hasSubmitted && isValidSubmit">
    <div>
      <h4>From:</h4>
      <div class="row form-group">
        <div class="col-md-2 noPadWidth">
          <label for="name">Your Name: </label>
        </div>
        <div class="col-md-8 col-xs-10 pull-left">
          <input class="form-control" placeholder="Your Name" type="text" name="name" data-ng-model="vm.Name" data-ng-required="true" />
        </div>
        <div class="col-md-2 col-xs-2 noPadLeft">
          <span class="required" data-ng-show="myForm.name.$invalid">Required</span>
          <span style="color:green; margin:5px;" data-ng-show="myForm.name.$valid"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2 noPadWidth">
          <label for="emailfrom">Your Email:</label>
        </div>
        <div class="col-md-8 col-xs-10">
          <input class="form-control" placeholder="Your Email" type="email" name="emailfrom" data-ng-model="vm.EmailFrom" data-ng-required="true" />
        </div>
        <div class="col-md-2 col-xs-2 noPadLeft">
          <span class="required" data-ng-show="myForm.emailfrom.$invalid">Required</span>
          <span style="color:green; margin:5px;" data-ng-show="myForm.emailfrom.$valid"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2 noPadWidth">
          <label for="subject">Subject:</label>
        </div>
        <div class="col-md-8 col-xs-10">
          <input class="form-control" placeholder="Subject" type="text" name="subject" data-ng-model="vm.Subject" data-ng-required="true" />
        </div>
        <div class="col-md-2 col-xs-2 noPadLeft">
          <span class="required" data-ng-show="myForm.subject.$invalid">Required</span>
          <span style="color:green; margin:5px;" data-ng-show="myForm.subject.$valid"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>
    </div>
    <div>
      <h4>To:</h4>
      <div class="row form-group">
        <div class="col-md-2 noPadWidth">
          <label for="emailto">Email:</label>
        </div>
        <div class="col-md-8 col-xs-10">
          <input class="form-control" placeholder="Email Address" type="email" name="emailto" data-ng-model="vm.EmailTo" data-ng-required="true" />
        </div>
        <div class="col-md-2 col-xs-2 noPadLeft">
          <span class="required" data-ng-show="myForm.emailto.$invalid">Required</span>
          <span style="color:green; margin:5px;" data-ng-show="myForm.emailto.$valid"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
      </div>
      <div class="row">
        <textarea class="col-md-12 col-xs-12" name="message" rows="14" cols="60" data-ng-model="vm.Message" data-ng-required="true"></textarea>
        <span data-ng-show="myForm.message.$invalid"></span>
        <span data-ng-show="myForm.message.$valid"></span>
      </div>
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <div >
        <button type="submit" class="btn btn-default pull-right">Send</button>
        <button type="button" class="btn btn-default pull-right" data-ng-click="goBack()">Cancel</button>
      </div>
    </div>
  </form>
  <div data-ng-show="hasSubmitted && isValidSubmit">
    <h4>Your shopping list has been sent.</h4>
  </div></div>
</div>
<style>
  textarea
  {
    color: #000000;
  }

  .emailList input
  {
    margin-bottom: 10px;
  }
</style>