<div class="hidden-meta" data-gsn-title="{{ChainName}} | login"></div>



<div data-ctrl-login="" class="col-md-12">

<div id="insideHeader" class="insideHeader"> 
  <div class="container">
  <img class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Sign Up Today!"> </div>
</div>
<section>
  <div class="container">
    <div class="row">
 <div class="col-lg-12 text-center">
        <h1 style="opacity: .9;" class="Cob-section-heading_small">
Sign In</h1>
</div>
    </div>
    
   
 
     <div class="clear_small"></div>  

  <h3 style="margin-top: 28%;" data-ng-show="fromUrl">You must login or register to view <a href="javascript:void(0)" data-ng-click="goUrl(fromUrl)">{{fromUrl}}</a>.</h3>
  <h4><a target="_self" class="ng-scope" data-ng-if="!isLoggedIn" data-ng-class="{ 'open': gvm.loginMenuActive }" href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/engine/modal-login.html')" data-show-if="gvm.loginCounter" data-ng-click="showModal()">Click here</a> to login.</h4>
</div>