<div class="hidden-meta" data-gsn-title="{{ChainName}} | unsubscribe"></div>
<div class="col-md-12" data-ctrl-recovery="">
  <form role="form" name="myRecoveryForm" data-ng-submit="unsubscribeEmail()" data-ng-hide="hasSubmitted && !isSubmitting && isValidSubmit">
    <h1>Unsubscribe</h1>
    <p>Use the form below if you no longer wish to receive email from {{ChainName}}</p>
    <div class="form-group">
      <label for="usernameField">Email Address or Username: <span class="required" data-ng-hide="usernameField">Required</span></label>
      <input name="usernameField" type="text" data-ng-required="true" class="form-control" placeholder="Enter email address or username" data-ng-model="profile.Email" />
      <div class="form-group" data-ng-show="hasClickSubmit && myRecoveryForm.$invalid">
        <div class="alert alert-danger" data-ng-show="myRecoveryForm.usernameField.$error.required">* This field is required.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" data-ng-click="goUrl('/')" tabindex="-1">Cancel</button>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>

  <div data-ng-show="hasSubmitted && !isSubmitting && isValidSubmit">
    <h2>You have successfully been unsubscribed.</h2>
    <p>Your unsubscribe request has been successfully processed. Please allow up to 72 hours for your email account to completely stop receiving emails from us.</p>
    <p>Note: You can resubscribe in the future any time you wish, simply by signing back into your account and edit your profile.</p>
  </div>
</div>
