<!-- engine layout -->

  <!-- custom header -->
  <div gsn-meta-description="Check out this week's deals! Find coupons and create your shopping list online." class="hidden"></div>
<div id="insideHeader" class="insideHeader sm"> 
  <div class="container">
  <img style="width:100%" class="img-responsive" src="http://upload.gsngrocers.com/chainfiles/402/creative/201608/636081756635870971-circularheader.jpg" alt="Weekly Deals"> 
  </div>
</div>
<div class="container">
	<div class="row smheader">
 		<div class="col-lg-12 text-center">
        <h1 style="opacity: .8; top: -75px;" class="Cob-section-heading_small">Weekly Deals</h1>
		</div>
    </div>
</div>
     
<!-- end header -->
<div class="row">
  <div class="col-lg-12">
  	<p id="InnerTop">&nbsp;</p>
   
  </div>
</div>
<div class="row">
  <div class="col-md-8" data-ng-view="" style="padding-right: 5px"></div>
  <div class="col-md-4 text-center">
    <div data-gsn-sticky="" data-top="95px" style="margin-left: 5px">

      <div style="margin-right:30px; margin-left:30px;" data-ng-include="getThemeUrl('/views/engine/shopping-list-plugin.html')"class="row"><div>
      <div style="padding: 5px" data-ng-include="getThemeUrl('/views/engine/available-varieties.html')" class="availableVarieties generic-content" data-ng-if="gvm.selectedItem"></div>
      <div style="padding: 5px" data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
      <div style="padding: 5px" data-gsn-ad-unit="5" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
    </div>
  </div>
</div>
<div data-gsn-sticky="" data-bottom="0" data-ng-class="{ 'stuck-collapsed': gvm.adsCollapsed }">
	<div class="stuck-collapser" data-ng-click="gvm.adsCollapsed = !gvm.adsCollapsed"><i class="fa fa-times"></i></div>
  <div style="padding: 5px" class="brickunit" data-sizes="leaderboard" data-targeting='{"tile": "1"}'></div>
</div>