* { box-sizing: border-box; }
.mdf_sub_wrap:before,
.mdf_sub_wrap:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}
.mdf_sub_wrap:after,
.row:after{
  clear:both;
}
a:hover{
	cursor: pointer;
}
.mdf_sub_wrap > div[class*=col],
.mdf_sub_wrap .row > div[class*=col]
{
	padding: 15px;
}
#mdf_menu .menu-el > .has-sub{
	padding-right: 20px;
	padding-left: 7px;
}

#mdf_menu{
	/*max-width: 1170px;*/
	height: auto;
	margin: auto;
	position: relative;
	z-index: 9999
}
 #mdf_menu ul{
	list-style: none;
	padding-left: 0;
}
#mdf_menu ul li.menu-el{
	display: inline-block;
	margin: 0 3px;
	color: #2ba1c3;
}
.nav > li {
    position: inherit;
}
#mdf_menu ul li a:not(.thumbnail){
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
/* a.navbar-brand{
	padding: 20px 15px;
} */
a.navbar-brand img{
	/*height:50px;*/
	margin: 5px;
	padding: 0;
}
#mdf_menu .menu-el > a{
	color: #fff;
	transition: all 0.32s;
	-webkit-transition: background 0.35s, color 0.4s;
	-moz-transition: background 0.35s, color 0.4s;
	-o-transition: background 0.35s, color 0.4s;
	-ms-transition: background 0.35s, color 0.4s;
}
#mdf_menu .menu-el > a:hover,
#mdf_menu .menu-el:hover > a{
	background: #fff;
	color: #043522;
	/* border-top-left-radius: 15px; */
	/* border-top-right-radius: 15px; */
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 20px;
}
#mdf_menu ul li.active > a{
	background: transparent;
}
#mdf_menu .dropdown,
.mdf_fall{
	height: 2em;
	width: 100%;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.36s, opacity 0.36s;
	-ms-transition: -ms-transform 0.36s, opacity 0.36s;
	-moz-transition: -moz-transform 0.36s, opacity 0.36s;
	-webkit-transition: -webkit-transform 0.36s, opacity 0.36s;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}
.mdf_fall{
	-o-transition: -o-transform 0.40s, opacity 0.40s;
	-ms-transition: -ms-transform 0.40s, opacity 0.40s;
	-moz-transition: -moz-transform 0.40s, opacity 0.40s;
	-webkit-transition: -webkit-transform 0.40s, opacity 0.40s;
}
#mdf_menu ul li:hover .mdf_sub_wrap.mdf_fall.wait{
	transition-delay: 0s;
}
.mdf_sub_wrap{
	visibility: hidden;
	position: absolute;
	width: 100%;
	left: 0;
	border-bottom: 1px solid #333;
	transform-origin: center top 0px; 
}
.mdf_sub_wrap a,
.mdf_child_menu a{
	color: #595959
}

#mdf_menu div.mdf_sub_wrap a,
#mdf_menu ul.mdf_child_menu li a{
	display: inline-block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#mdf_menu ul.mdf_child_menu.dropdown a{
	display: block;
}

#mdf_menu div.mdf_sub_wrap li,
#mdf_menu ul.mdf_child_menu li{
	transition: .3s all ease;	
}

#mdf_menu div.mdf_sub_wrap li:hover a,
#mdf_menu ul.mdf_child_menu li:hover a{
	color: #e47937 !important;
}
#mdf_menu div.mdf_sub_wrap li:hover a.link,
#mdf_menu ul.mdf_child_menu li:hover a.link{
	padding-left: 25px !important;
}

.mdf_flip{
	height: auto;
	transform-origin: center top 0px; 
    transition: all 0.48s ease 0s;
    -moz-transform-origin: center top 0px; 
    -moz-transition: all 0.48s ease 0s;
    -webkit-transform-origin: center top 0px; 
    -webkit-transition: all 0.48s ease 0s;
    -o-transform-origin: center top 0px; 
    -o-transition: all 0.48s ease 0s;
    -ms-transform-origin: center top 0px; 
    -ms-transition: all 0.48s ease 0s;
    transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -moz-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -webkit-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -o-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
    -ms-transform:matrix3d(1,0,0.00,0,0.00,0,1.00,0.008,0,-1,0,0,0,0,0,1);
}
.mdf_fade{
	transition: all 0.40s ease 0s;
	-moz-transition: all 0.40s ease 0s;
	 -webkit-transition: all 0.40s ease 0s;
	-o-transition: all 0.40s ease 0s;
	 -ms-transition: all 0.40s ease 0s;
    transform: translate3d(0, 10%, 0);
    -webkit-transform: translate3d(0, 10%, 0);
    -moz-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
	opacity: 0;
}
#mdf_menu ul li:hover .mdf_sub_wrap.mdf_fade{
	height: auto;
	opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
#mdf_menu ul li:hover .mdf_sub_wrap,
#mdf_menu ul li:hover .dropdown,
#mdf_menu ul li:hover .mdf_fall{
	visibility: visible;
	opacity: 1;
	height: auto;
}
#mdf_menu ul li .mdf_sub_wrap,
#mdf_menu ul li .dropdown{
	background: #fff;
	/* border-bottom-left-radius:15px; */
	/* border-bottom-right-radius: 15px; */
}
#mdf_menu ul li:hover .dropdown,
#mdf_menu ul li:hover .mdf_fall{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}
#mdf_menu ul li:hover .mdf_sub_wrap.mdf_flip{
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
#mdf_menu ul li:hover .mdf_sub_wrap.wait{
	transition-delay: 0.30s;
}
#mdf_menu .mdf_child_menu{
	background: transparent;
}
#mdf_menu .mdf_child_menu li{
	display: block;
	color: #fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#mdf_menu .mdf_child_menu li a:not(.thumbnail){
	padding: 8px 15px;
}
#mdf_menu .mdf_child_menu.sub-0,
#mdf_menu .mdf_child_menu.sub-1,
#mdf_menu .mdf_child_menu.sub-2,
.dropdown{
	background: ##043522;
}
.mdf_child_menu.sub-0,
.mdf_child_menu.sub-1,
.mdf_child_menu.sub-2{
	width: 100%;
	visibility: hidden;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.36s, opacity 0.36s;
	-ms-transition: -ms-transform 0.36s, opacity 0.36s;
	-moz-transition: -moz-transform 0.36s, opacity 0.36s;
	-webkit-transition: -webkit-transform 0.36s, opacity 0.36s;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
}
#mdf_menu .dropdown > li:hover > .sub-0,
#mdf_menu .dropdown .sub-0 > li:hover > .sub-1,
#mdf_menu .dropdown .sub-1 > li:hover > .sub-2{
	visibility: visible;
	height: auto;
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}
#mdf_menu.traditional{
	background: #fafafa;
	box-shadow: 0px 0px 1px #6f6f6f inset;
	-webkit-box-shadow: 0px 0px 1px #6f6f6f inset;
	-moz-box-shadow: 0px 0px 1px #6f6f6f inset;
	o-box-shadow: 0px 0px 1px #6f6f6f inset;
}
#mdf_menu.traditional ul li > a{
	border-width: 0 1px;
	border-color: transparent;
	border-style: solid;
}
#mdf_menu.traditional .menu-el > a{
	color: #777;
}
#mdf_menu.traditional ul li:hover > a{
	border-color: #ddd;
}
#mdf_menu.traditional div.mdf_sub_wrap a:hover,
#mdf_menu.traditional ul.mdf_child_menu a:hover{
	color: #fafafa;
	background: #f1f1f1;
}
#mdf_menu.traditional ul li .mdf_sub_wrap{
	background: #f1f1f1;
}

#mdf_menu.traditional .search-box:hover input{
	background: #fff;
	outline: 1px solid #777;
}
#mdf_menu.wireframed{
	background: transparent;
	box-shadow: none;
	min-height: auto;
}
#mdf_menu.wireframed .menu-el > a{
	color: #777;
}
#mdf_menu.wireframed ul a:not(.thumbnail){
	color: #333;
	background: transparent
}
#mdf_menu.wireframed a.navbar-brand{
	padding: 13px 15px;
	height: auto;
}
#mdf_menu.wireframed ul li.active > a,
#mdf_menu.wireframed ul li:hover > a{
	background: transparent;
	color: #777;
}
#mdf_menu.wireframed ul li:hover > a{
	color: #c34d2b;
}
#mdf_menu.wireframed ul li .mdf_sub_wrap{
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
#mdf_menu .row{
	margin-right: 0!important;
	margin-left: 0;
}
.cl-title{
	text-align: center;
	margin: 7px 0;
	padding-left: 15px;
	padding-right: 15px;
	background: #ebebeb
}
.cl-title.text-left{
	text-align: left;
}
.mdf_sub_wrap h3,
.mdf_sub_wrap div > h4,
.mdf_sub_wrap div h5{
	text-align: center;
	color: #196075;
	position: relative;
}
.mdf_sub_wrap div > h4,
.mdf_sub_wrap h3{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mdf_sub_wrap div[class*=col] h5{
	color: #2bc399;
}
.right-nav{
	float: right;
}
#mdf_menu ul li .nav.tabs-left a{
	padding: 10px;
}
#mdf_menu ul li .panel-title a{
	padding: 5px;
}
.bmt{
	display: block;
	top: 0!important;
	left: 0!important;
}
.search-box{
	position: relative;
	top: 18px;
	z-index: 999 !important;
	display: block;
}
.search-box:hover input{
	width: 180px;
	background: #fafafa;
}
.search-box a{
	position: relative;
	display: block;
	/*border: 1px solid #999;*/
	width: 34px;
	height: 35px;
	z-index: 9;
	padding: 3px!important;
	text-indent: 9999;
	display: block;
	background-size: cover;
}
.search-box input{
	position: absolute;
	top: 1px !important;
	background: transparent;
	right: 34px;
	width: 0;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	z-index: 2;
	height: 33px!important;
	transition: width 0.34s ease;
	padding-left: 10px;
}
#mdf_menu.traditional .search-box a,
#mdf_menu.wireframed ul .search-box a{
	background: #c8c8c8 center no-repeat;
}
input{
        top: 0px!important;
		border-radius:5px;
}
.tabs.vertical{
    float: none;
}
/* Media Queries */
@media only screen and (max-width: 438px){
		.mdf_team .col-sm-6.col-xs-6{
			width: 100%;
			max-width: 100%;
		}
		.lists .col-xs-6{
			width: 100%;
		}
		.hot-sell-item img{
			width: 100%;
		}
		.mdf_sub_wrap div.mdf_team .col-sm-6{
			text-align: center;
		}
		.mdf_sub_wrap div.mdf_team .thumbnail{
			height: auto;
		}
		
		
	}
@media only screen and (max-width: 1206px){
	#mdf_menu ul {
		padding-left: 28px !important;	
	}
	
	#mdf_menu ul li.menu-el{
		display: block;
		border-bottom: 1px solid #ddd;
	}
	#mdf_menu.wireframed ul li.menu-el{
		border-bottom: 1px solid #ddd;
	}
	#mdf_menu ul li.menu-el a.has-sub:after{
		position: relative;
		float: right;
		font-size: 19px;
	}
	.mdf_sub_wrap,
	#mdf_menu .dropdown{
		position: relative;
		visibility: visible;
		display: none
	}
	.mdf_flip{
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
	#mdf_menu .dropdown,
	#mdf_menu .dropdown .sub-0,
	#mdf_menu .dropdown .sub-1,
	#mdf_menu .dropdown .sub-2{
		height: auto;
		opacity: 1;
		visibility: visible;
		transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		position: relative;
		display: none
	}
	.mdf_child_menu{
		display: block;
		position: relative !important;
		width: 100% !important;
	}
	#mdf_menu ul li .mdf_child_menu.dropdown.bmt{
		display: none;
		/*background: #c2b69c;*/
	}
	#mdf_menu ul li.menu-el .dropdown .mdf_child_menu{
		padding-left: 15px
	}
	.has-drop{
		border-bottom: 1px solid #ddd;
	}
	#mdf_menu .navbar-nav {
	    margin: 0 -15px;
	}
	#mdf_menu ul.right-nav{
		display: none;
	}
	.has-drop:after{
		content:"\e252";
		font-size: 16px;
		padding: 5px;
		top: -5px;
		position: relative;
		float: right;
	}
/*	a.navbar-brand{
		padding: 15px;
	} */
	a.navbar-brand img {
	    margin: 0px;
	    padding: 0px;
	}
	.search-box {
	    top: 13px;
	    width: 35px;
	    position: relative;
	    float: right;
	    margin-right: 10px;
	}
	#mdf_menu ul li a:not(.thumbnail) {
	    padding: 10px;
	}
	.search-box input {
			display:none;
	}
}
@media only screen and (min-width: 1207px){
	
	#mdf_menu .navbar-collapse {
	    padding-right: 0;
	    padding-left: 0;
	}
	
	
}


#mdf_menu .container {
	width: 100%;
}
